<div class="single" data-display="block">
  {{ if eq .Type "blog" }}
  <div class="single__title">
    {{ .Title }}
  </div>
  {{ end }}
  <div class="single__meta">
    {{ partial "main/component/article-meta.html" . }}
  </div>

  
  <div class="tags">
    {{ if .Params.producer }}
      {{ with .Params.producer}}
        <span class="tag__label">{{ T "tags-producer"}}:</span>
        <a class="tag-link tag_color_1" href="{{ "producer/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    {{end}}

    {{ if .Params.level }}
      {{ with .Params.level}}
        <span class="tag__label">{{ T "tags-level"}}:</span>
        <a class="tag-link tag_color_4" href="{{ "level/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    {{end}}

    {{ if .Params.version }}
      {{ with .Params.version}}
        <span class="tag__label">{{ T "tags-version"}}:</span>
        <a class="tag-link tag_color_3" href="{{ "version/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    {{end}}
  </div>

  {{ if .Params.nodes }}
    <div class="tags">
      <span class="tag__label">{{ T "tags-nodes"}}:</span>
      {{range .Params.nodes}}
      <a class="tag-link tag_color_{{ index (seq 6 | shuffle ) 1 }}" href="{{ "nodes/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    </div>
    {{end}}
  {{end}}

  {{ if .Params.pipeline }}
    <div class="tags">
      <span class="tag__label">{{ T "tags-pipeline"}}:</span>
      {{range .Params.pipeline}}
      <a class="tag-link tag_color_{{ index (seq 6 | shuffle ) 1 }}" href="{{ "pipeline/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    </div>
    {{end}}
  {{end}}

  {{ if .Params.tags }}
    <div class="tags">
      <span class="tag__label">{{ T "tags"}}:</span>
      {{range .Params.tags}}
      <a class="tag-link tag_color_{{ index (seq 6 | shuffle ) 0 }}" href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    </div>
    {{end}}
  {{end}}
  

  {{ if .Params.pan }}
  
  <div class="tags">
    <span class="tag__label">{{ T "tags-pan"}}:</span>
    <a href="{{.Params.pan}}" target="_blank"> {{.Params.pan}} </a>  &nbsp; 提取码: wiki
  </div>
  {{end}}

  {{ if .Params.video }}
  
    <div class="tags">
      <span class="tag__label">{{ T "tags-video"}}:</span>
      <a href="{{.Params.video}}" target="_blank"> {{.Params.video}} </a>
    </div>
  {{end}}
  
  {{ $toc := .Params.toc | default true }}
  {{ $section_to_display :=  .Sections | default .Pages }}
  {{ if and $section_to_display $toc }}
    {{ partial "main/sections/list-section.html" (dict "context" . "section_to_display" $section_to_display) }}
  {{ end }}

  <article class="single__contents" data-dir="{{ $.Param " languagedir" | default "ltr" }}">
    {{ .Content }}
  </article>


  <div class="link_container" style="margin-bottom:5px">
    {{ $slug := .Page.Params.slug | default .Page.File.BaseFileName}}
    {{ $data := index .Site.Data.links $slug }}
    {{ if $data }}
      {{ range $post_id, $data := $data }}
        {{ $path := path.Join (index $data "path") $post_id}}
        
        <div class="expand">
          <button type="button" class="expand__button" aria-label="Expand Button" style="margin:0">
            <span class="expand-icon expand-icon__right">
                {{ partial "svgs/arrow-right.svg" (dict "width" 24 "height" 24) }}
            </span>
            
            {{index $data "title"}} &nbsp; <a href="{{$path}}">↩︎</a>
          </button>
          <div class="expand__content relink__content">
            {{range index $data "links"}}
              
              {{ $link := add $path (add "#" (index . "id"))}}

              <div class="theme__light notices note">

                <div class="link_header">
                  <img src="/logo.png" > 
                  <span style="position: absolute;">
                    <a href="{{ $link }}">
                    {{T "Nodes-link"}}
                    </a>
                  </span>
                </div>
                
                
                <div class="single__contents">
                  {{ index . "inner" | markdownify}}

                  
                  {{ $pattern := index . "pattern"}}
                  {{ if $pattern }}
                    {{ $target := path.Join "/static/posts" $post_id}}
                    {{ $target := path.Join $target ("files")}}
                    {{ $posts := "https://cdn.jsdelivr.net/gh/FXTD-ODYSSEY/HoudiniWiki@gh-pages/posts"}}
                    <div class="expand">
                        <button type="button" class="expand__button" aria-label="Expand Button" style="margin-bottom: 0;">
                            <span class="expand-icon expand-icon__right" style="position: relative;">
                                {{ partial "svgs/arrow-right.svg" (dict "width" 24 "height" 24) }}
                            </span>
                            {{T "Attachments-title"}}
                        </button>
                        <div class="expand__content" style="padding:0;">
                            {{ range (readDir $target) }}
                                {{if (findRE $pattern .Name)}}
                                    <li>
                                        <a href="{{ (printf "%s/%s/files/%s" $posts $slug .Name)}}" >
                                            {{.Name}}
                                        </a>
                                        ({{div .Size 1024 }} {{T "BinaryPrefix-kilobyte"}})
                                    </li>
                                {{end}}
                            {{ end }}
                        </div>
                    </div>
                  {{ end }}
                  
                  


                </div>
              </div>

            {{end}}
            
          </div>
        </div>
        
      {{end}}

    {{end}}
  </div>
    
  {{ partial "main/component/related.html" . }}
  <!-- <div style="margin-bottom:5px"></div> -->
</div>