<div class="single" data-display="block">
  {{ if eq .Type "blog" }}
  <div class="single__title">
    {{ .Title }}
  </div>
  {{ end }}
  <div class="single__meta">
    {{ partial "main/component/article-meta.html" . }}
  </div>

  {{ if .Params.tags }}
  <div class="tags">
    {{range .Params.tags}}
    <a class="tag-link" href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{end}}
  </div>
  {{end}}

  <article class="single__contents" data-dir="{{ $.Param " languagedir" | default "ltr" }}">
    {{ .Content }}
  </article>
</div>