{{.Inner}}

{{.Page}}

<div class="expand" style="border-bottom: 5px solid #8BC34A;
border-right: 5px solid#8BC34A;
border-left: 5px solid #8BC34A;
border-radius:5px;
">
    <button type="button" class="expand__button" aria-label="Expand Button" style="margin-bottom: 0;">
        <span class="expand-icon expand-icon__right">
            {{ partial "svgs/arrow-right.svg" (dict "width" 24 "height" 24) }}
        </span>
        {{T "Attachments-title"}}
    </button>
    <div class="expand__content">
        <!-- TODO cdn 加速下载 -->
        {{ $slug := (.Page.Params.slug | default "") }}
        {{ $target := path.Join "/static" $slug}}
        {{ $target := path.Join $target ("files")}}
        {{ range (readDir $target) }}
        
            {{if ($.Get "pattern")}}
                {{if (findRE ($.Get "pattern") .Name)}}
                    <li>
                        <a href="" >
                            {{.Name}}
                        </a>
                        ({{div .Size 1024 }} {{T "BinaryPrefix-kilobyte"}})
                    </li>
                {{end}}
            {{else}}
                <li>
                    <a href="{{ (printf "/%s/files/%s" $slug .Name)}}" >
                        {{.Name}}
                    </a>
                    ({{div .Size 1024 }} {{T "BinaryPrefix-kilobyte"}})
                </li>
            {{end}}
        
        {{ end }}
        
    </div>
</div>

