

{{ $slug := (.Page.Params.slug | default "") }}
{{ $target := path.Join "/static/posts" $slug}}
{{ $target := path.Join $target ("files")}}
{{ $posts := "https://cdn.jsdelivr.net/gh/FXTD-ODYSSEY/HoudiniWiki@gh-pages/posts"}}
<div class="expand">
    <button type="button" class="expand__button" aria-label="Expand Button" style="margin-bottom: 0;">
        <span class="expand-icon expand-icon__right" style="position: relative;">
            {{ partial "svgs/arrow-right.svg" (dict "width" 24 "height" 24) }}
        </span>
        {{T "Attachments-title"}}
    </button>
    <div class="expand__content" style="padding:0;">
        {{.Inner}}
        {{ range (readDir $target) }}
            {{if (findRE ($.Get "pattern" | default "") .Name)}}
                <li>
                    <a href="{{ (printf "%s/%s/files/%s" $posts $slug .Name)}}" >
                        {{.Name}}
                    </a>
                    ({{div .Size 1024 }} {{T "BinaryPrefix-kilobyte"}})
                </li>
            {{end}}
        {{ end }}
    </div>
</div>

